   <div class="clr"></div>
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
			<h1>Socialnet App</h1>
    <p>
      This is the home page for the
      <a href="http://localhost:3000/pages/home/">Socialnet</a>
      Social networking application.
    </p>
		
		<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>

            </div>
  </div>
  <div class="fbg">
    <div class="fbg_resize">
     
      <div class="col c2">
        <h2><span>Lorem Ipsum</span></h2>
        <p>Lorem ipsum dolor<br />
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. <a href="#">Morbi tincidunt, orci ac convallis aliquam</a>, lectus turpis varius lorem, eu posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum odio, ac blandit ante orci ut diam.</p>
      </div>
      <div class="col c3">
        <h2><span>Contact</span></h2>
        <p>Nullam quam lorem, tristique non vestibulum nec, consectetur in risus. Aliquam a quam vel leo gravida gravida eu porttitor dui. Nulla pharetra, mauris vitae interdum dignissim, justo nunc suscipit ipsum. <a href="#">mail@example.com</a><br />
          <a href="#">+1 (123) 444-5677</a></p>
      </div>
      <div class="clr"></div>
    </div>

  
